<!-- This is just a sample html file to lern sending data to the servers -->
<!-- To send this file on to the servers go to file 11 and type this file name there -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: skyblue;
            font-family: Verdana;
            color: deeppink;
            padding: 30px;
            margin: 0; /* Remove default margin */
        }

        h1 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }

        p {
            font-size: 16px;
            text-align: center;
        }
    </style>
    <title>Your Page Title</title>
</head>
<body>
    <%- include('partials/nav.ejs'); %>
    <h1>Contact us</h1>
    <p>Welcome to our services</p>

<!-- It is necesaary to specify method as post or it will take get by default -->
    <form id="contact-form" action="/contact" method="post"> 
        <label for="person">Whom do you want to contact? </label > </br>
        <input type="text" name="person" value="<%=qs.person%>"></br>
        
        <label for="dept">Which department</label></br>
        <input type="text" name="dept" value="<%=qs.dept%>"></br>
        
        <label for="email">Your Email</label></br>
        <input type="email" name="email" value="<%=qs.email%>"></br>
        
        <input type="submit" value="submit"></br>
    </form>
</body>
</html>
